/tests/.env
/.idea/WeatherApp.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/dist/
/weathermap.egg-info/
/dist
/venv/
/tests/weather_cache/
/.vscode/
/__pycache__
/weathermap/__pycache__
